/* You can add global styles to this file, and also import other style files */
.bpp-textfield {
  input {
    padding-right: 24px;
  }

  .clear {
    right: -12px;
  }
}

.bpp-properties-panel [type="text"] {
  width: calc(100% - 18px);
}

.diagram-overlay {
  color: White;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 5px;
  min-height: 16px;
  width: 50px;
  text-align: center;

  &.note {
    background-color: rgba(66, 180, 21, 0.7);
  }
  &.error {
    background-color: rgba(205, 54, 54, 0.7);
  }
  &.warning {
    background-color: rgba(208, 170, 28, 0.7);
  }
}
